
    <app-header></app-header>
    <main>
      <div class="container">
      
        <app-filters></app-filters>
        
        <div class="content detail">

            <article>
                <img src="" />
                <h1><a href="#">{{productItem.product.title}}</a></h1>
                <span>{{productItem.product.createdAt}}</span>
                
                <p>{{productItem.product.description}}</p>
                
                <div class="tags">
                  <a href="{{productItem.product.webUrl}}">{{productItem.tags.name}} {{productItem.tags[1].name}}</a>';
                  
                </div>
                
                <hr />
                
                <div class="details">
                  <ul>
                    <li>
                      <h1>DT KONTAKT</h1>
                      <img src="{{productItem.consumer.profileImageUrl}}" />
                      <p>{{productItem.consumer.fullName}} <a href="mailto:{{productItem.consumer.fullName}}"> <i class="fa fa-envelope"></i> </a></p>
                    </li>
                    <li>
                      <h1>PROJEYİ YAPAN FİRMA</h1>
                      <img src="{{productItem.consumer.profileImageUrl}}" />
                      <p>{{productItem.consumer.companyName}}<a href="{{productItem.consumer.companyName}}"> <i class="fa fa-external-link"></i> </a></p>
                    </li>
                  </ul>
                </div>
                
              </article> 
              
              <aside>
                <h1><a href="#">Diğer Bilgiler</a></h1>
                
                <hr />
                
                <ul>
                  <li>
                    <h1>Bütçe Aralığı</h1>
                    <span>{{productItem.product.price}}</span>
                  </li>
                  <li>
                    <h1>İMPLEMENTASYON KOLAYLIĞI</h1>
                    <span>{{productItem.product.upVoteCount}}</span> 
                    <img src="../../../assets/images/star-filled.png">
                      <img src="../../../assets/images/star-emtpy.png">
                  </li>
                  <li>
                    <h1>KULLANIM KOLAYLIĞI</h1>
                    <span>{{productItem.product.difficulty}} </span>
                  </li>
                </ul>
              </aside>
              
              <div class="slider">
                <div id="slider" class="slider-border">
                  <ul>
                    <li><img src="'.$slider_items[$i].'" /></li>';
                     
                  </ul>
                </div>
              </div>
              
              

        </div>

        <div class="comments">
                
            <!--<img src="images/comments.png" />-->
            <div id="disqus_thread"></div>
            <script>
              (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://hightechcatalog.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                      
          </div>


      </div>
      

      <div style="clear:both;"></div>
    </main>
    <app-footer></app-footer>
