	<header id="header">
		<ul>
			<li class="logo"><a href="index.php"><img src="../../../assets/images/logo.png" /></a></li>
			<li>
				<form action="search.php" method="post">
					<input type="text" id="search" name="q" placeholder="" value="deneme" autocomplete="on">
				</form>
			</li>
			<li class="add-product"><a href="/AddProduct">+ ÜRÜN EKLE</a></li>
			<!--<li class="profile"><a href=""><img src="images/profile.jpg"></a></li>-->
		</ul>
	</header>

	<header id="mobile-header">
		<ul>
			<li class="logo"><a href="index.php"><img src="../../../assets/images/logo.png" /></a></li>
			<li id="mobile-search-button">
				<a class="ms-button" href="javascript:" onclick="openMobileSearchForm();"><i class="fa fa-search"></i></a>
			</li>
			<li id="mobile-search-form">
				<form action="search.php" method="post">
					<input type="text" id="mobile-search" name="q" placeholder="" value="deneme" autocomplete="on">
				</form>
			</li>
		</ul>
	</header>