
    <app-header></app-header>
    <main>
      <div class="container">
      
        <app-filters></app-filters>
        
        <div class="content">

          <h1>Ürünler</h1>
                <article *ngFor="let item of productItem; let i = index">
                  <img src="{{item.product.imageUrl}}" /> 
                  <h1><a [routerLink]="['/ProductDetail',item.product.id]">{{item.product.title}}</a></h1>
                  
                  <p>{{item.product.description}}</p>
                  
                  <div class="tags">
                    <a href="{{item.product.tags}}">{{item.product.tags}}</a>
                  </div>
                </article>
        </div>
      </div>
      <div style="clear:both;"></div>
    </main>
    <app-footer></app-footer>
  